<% content_for :header_tags do %>
  <%= javascript_tag do %>
    window.RedmineCanvasGantt = {
      projectId: <%= @project.id %>,
      projectPath: '<%= project_path(@project) %>',
      issueListPath: '<%= project_issues_path(@project) %>',
      newIssuePath: '<%= new_project_issue_path(@project) %>',
      canvasGanttPath: '<%= project_canvas_gantt_path(@project) %>',
      apiBase: '<%= project_path(@project) %>/canvas_gantt',
      redmineBase: '<%= Redmine::Utils.relative_url_root %>',
      authToken: '<%= form_authenticity_token %>',
      apiKey: '<%= User.current.api_key %>',
      i18n: <%= @i18n.to_json.html_safe %>,
      settings: <%= (@settings || {}).to_json.html_safe %>,
      nonWorkingWeekDays: <%= (@non_working_week_days || [0, 6]).to_json.html_safe %>,
      language: '<%= @language %>',
      dateFormat: '<%= @date_format %>',
      yearMonthFormat: '<%= @year_month_format %>'
    };
  <% end %>
  <!-- In development with Vite dev server enabled, we use the Vite dev server. Otherwise, we use the manifest. -->
  <% use_vite_dev = Rails.env.development? && ENV['CANVAS_GANTT_USE_VITE_DEV_SERVER'] == '1' %>
  <% if use_vite_dev %>
    <%= vite_react_refresh_tag %>
    <%= vite_client_tag %>
    <%= javascript_include_tag "http://localhost:5173/src/main.tsx", type: "module" %>
  <% else %>
    <!-- Production assets will be injected here via manifest -->
    <% vite_stylesheet_path("src/main.tsx")&.each do |css_path| %>
      <%= stylesheet_link_tag css_path %>
    <% end %>
    <%= javascript_include_tag vite_javascript_path("src/main.tsx"), type: "module" %>
  <% end %>
<% end %>

<div id="redmine-canvas-gantt-root" style="width: 100%; height: calc(100vh - 120px); min-height: 400px; border: 1px solid #ddd;">
  <!-- React App Mount Point -->
  Loading Canvas Gantt...
</div>
